@model CountryViewModel

@using ASPNET_MVC_Samples.Models.ViewModels
@{
    ViewBag.Title = "Family Doctor Services";
}

<div>
    @using (Html.BeginForm("FamilyDoctor", "Citizen", FormMethod.Get))
    {
        @Html.LabelFor(m => m.Country)
        @Html.DropDownListFor(m => m.Country, Model.Countries)
        <input type="submit" value="Send" />
    }
</div>
<div id="chartContainer"></div>

<script type="text/javascript">
     $(function () {

        var dataPoints = @Html.Raw(ViewBag.DataPointsFamilyDoctor);
        debugger;
        var chart = new CanvasJS.Chart("chartContainer", {
            title: {
                text: "Since January, my and my immediate family’s access to our GP (Family Physician/Family Doctor) has been:"
            },
            animationEnabled: true,
            legend: {
                verticalAlign: "center",
                horizontalAlign: "left",
                fontSize: 20,
                fontFamily: "Helvetica"
            },
            theme: "light2",
            data: [
            {
                type: "pie",
                indexLabelFontFamily: "Garamond",
                indexLabelFontSize: 20,
                indexLabel: "{label} {y}%",
                startAngle: -20,
                showInLegend: true,
                toolTipContent: "{legendText} {y}%",
                dataPoints: dataPoints,

                //You can add dynamic data from the controller as shown below. Check the controller and uncomment the line which generates dataPoints.
                //dataPoints: @Html.Raw(ViewBag.DataPoints),
            }
            ]
        });
        chart.render();
    });
</script>